*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins';
}
.Devices-box{
    height: 100vh;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto;
}
.device{
    height: 55%;
    border: 2px solid lightgrey;
    width: 40%;
    margin: 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px 25px 10px;
    box-shadow: 0 5px 5px lightgray;
    border-radius: 16px;
    transition: 300ms;
}
.device:hover{
    transform: rotate(2deg);
}
.image-box{
    height: 100%;
}
.image{
    height:9rem;
    width: 200px;
    border: 2px solid lightgrey;
    border-radius:50%;
    object-fit: contain;
    mix-blend-mode: darken;
    margin-top: 20px;
    transition: 600ms;
}
.image:hover{
    scale: 1.2;
    transform: rotate(360deg);
}
.btn{
    border: 1px solid #2295a4;
    padding: 5px 7px;
    background: none;
    color: #2295a4;
    border-radius: 16px;
    box-shadow: 0 2px 2px #2295a4;
    margin-top:20px;
    transition: 300ms;
    cursor: pointer;
}
.btn:hover{
    padding: 5px 15px;
}
.rbtn{
    border: 1px solid #b86424;
    padding: 5px 7px;
    background: none;
    color: #b86424;
    border-radius: 16px;
    box-shadow: 0 2px 2px #b86424;
    margin-top:20px;
    transition: 300ms;
    cursor: pointer;
}
.rbtn:hover{
    padding: 5px 15px;
}
